.battleScreen {
    position: relative;
    height: 600px;
    width: 350px;
    display: flex;
    background-image: url('./battlebackground.png');
    background-size: cover;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}
.enemyInfo {
    position: absolute;
    right: 0px;
    top: 225px;
    height: 50px;
    width: 150px;
    color: white;
    font-family: 'Press Start 2P', monospace;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.enemyHpModifier {
    align-self: flex-start;
    font-size: 16px;
    color: red;
    width: 100%;
    text-align: center;
}
.enemyHpOuter {
    height: 15px;
    width: 100px;
    background-color: #ff0000;
    align-self: flex-end;
}
.enemyHpInner {
    height: 100%;
    width: 100%;
    background-color: #00ff00;
}
.enemy {
    position: absolute;
    height: 125px;
    width: 125px;
    bottom: 200px;
    right: 10px;
}
.playerInfo {
    position: absolute;
    left: 0px;
    top: 225px;
    height: 50px;
    width: 150px;
    font-family: 'Press Start 2P', monospace;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.playerHpModifier {
    align-self: flex-start;
    font-size: 16px;
    color: red;
    width: 100%;
    text-align: center;
}
.playerHpOuter {
    height: 15px;
    width: 100px;
    background-color: #ff0000;
    align-self: flex-end;
}
.playerHpInner {
    height: 100%;
    width: 100%;
    background-color: #00ff00;
}

.player {
    position: absolute;
    height: 125px;
    width: 125px;
    bottom: 200px;
    left: 10px;
}
.playerHead {
    position: absolute;
    height: 125px;
    width: 125px;
}
.playerHat {
    position: absolute;
    bottom: 90px;
    height: 100px;
    width: 125px;
}
.soundIcon {
    position: absolute;
    right: 10px;
    top: 20px;
    background-size: cover;
    height: 25px;
    width: 25px;
    z-index: 5;
}
.battleBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 400px;
    height: 150px;
    width: 100%;
    background-color: white;

}
.battleBoxText {
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-family: 'Press Start 2P';
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.battleBoxImage {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
@keyframes slideInPlayer {
    from{left: 500px}
    to{left: 10px}
}
@keyframes slideInEnemy {
    from{right: 500px}
    to{right: 10px}
}
@keyframes playerQuickAttack {
    from{left: 10px}
    to{left: 20px}
}
@keyframes enemyQuickAttack {
    from{right: 10px}
    to{right: 20px}
}
@keyframes blinker {
    50% {
      opacity: 0;
    }
  }
@keyframes inverter {
    50% {
        filter: invert(100%);
    }
}
@keyframes grower {
    50% {
       transform: scale(1.3);
    }
}
@keyframes shaker {
    50% {
        transform: translateX(-10px);
        filter: saturate(20)
    }
}

.attackMessageContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 400px;
    height: 150px;
    width: 100%;
    background-color: white;
    z-index: 5;
    color: black;
    font-family: 'Press Start 2P', monospace;
}
.attackMessageText {
    position: absolute;
    font-family: 'Press Start 2P';
}
.fightMenu {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    height: 150px;
    width: 100%;
    z-index: 3;
    background-color: white;
}
.inventoryMenu {
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 150px;
    width: 100%;
    z-index: 3;
    background-color: white;
}
.playerAttacks {
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-family: 'Press Start 2P';
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    z-index: 4;
}
.returnButton {
    position: absolute;
    top: 15px;
    left: 10px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    border: none;
    background-color:#ff0000;
    color: white;
    z-index: 2;
}
.inventoryItem {
    cursor: pointer;
    height: 50px;
    width: 50px;
    z-index: 4;
}
.battleEndedContainer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 325px;
    height: 400px;
    background-color: rgb(23, 23, 23);
    top: 150px;
    z-index: 6;
}
.lootInfo {
    position: absolute;
    top: 50px;
    width: 100%;
    font-family: 'Press Start 2P';
    font-size: 20px;
    color: green;
    text-align: center;
}
.xpInfo {
    position: absolute;
    top: 100px;
    width: 100%;
    font-family: 'Press Start 2P';
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.playerStatsInfo {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    top: 150px;
    height: 200px;
    width: 100%;
    font-family: 'Press Start 2P';
    color: rgb(199, 199, 199);
    text-align: center;
}
.stat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}
.levelUpStat {
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 217, 0);
    color: black;
    font-size: 25px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.exitBattleButton {
    position: absolute;
    bottom: 20px;
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
    padding: 10px 10px 10px 10px;
    text-align: center;
    width: 200px;
    font-size: 16px;
    font-family: 'Press Start 2P';
}
.inventoryPopUpWindow {
    position: absolute;
    z-index: 998;
    background-color: rgb(23, 23, 23);
    color: white;
    height: 250px;
    width: 300px;
    left: 25px;
    top: 150px;
    text-align: center;
    font-family: 'Press Start 2P', monospace;
}
.inventoryPopUpWindowText {
    margin-top: 75px;
}

.inventoryPopUpWindowButton {
    font-size: 12px;
    cursor: pointer;
    height: 40px;
    border: 5px solid rgb(23, 23, 23);
    font-family: 'Press Start 2P', monospace;
}

.newMovePopUpWindow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    z-index: 999;
    background-color: rgb(43, 145, 158);
    color: white;
    height: 400px;
    width: 325px;
    top: 150px;
    text-align: center;
    font-family: 'Press Start 2P', monospace;
}
.newMovePopUpWindowText {
    margin-top: 75px;
}

.newMovePopUpWindowButton {
    position: absolute;
    bottom: 5px;
    font-size: 12px;
    cursor: pointer;
    height: 40px;
    border: 5px solid rgb(23, 23, 23);
    font-family: 'Press Start 2P', monospace;
}
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }